.bgdark {
  background-color: #212529;
}

.textStyle {
  color: white;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
}
.btn-primary {
  border-color: #c4c8cb;
  background-color: transparent;
  color: #c4c8cb;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #c4c8cb;
  color: #212529;
}
i.bi-youtube {
  color: #ff0000;
}
i.bi-facebook {
  color: #4267b2;
}
i.bi-instagram {
  color: #8a3ab9;
}
